[user]
	email = github@kthxbye.cyou
	name = Fabian Koller
[init]
	defaultBranch = main

[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default

[includeIf "gitdir:~/"]
	path = ~/.gitconfig_delta_active
[init]
	defaultBranch = main

[includeIf "gitdir:~/.work/"]
	path = ~/.work/.gitconfig
