*
!.aerospace.toml
!.bashrc
!.bash_aliases
!.bash_ssh_agent
!.bash_profile
!.binary_check
!.expected_binaries
!.gitconfig
!.gitconfig_delta
!.inputrc
!.wezterm.lua
!.vimrc
!.config/borders/bordersrc
!.config/Code/User/settings.json
!.config/starship.toml
!.config/sketchybar
!.ssh/config
!.ssh/config.d/.gitkeep
