*
!.aerospace.toml
!.bashrc
!.bash_aliases
!.bash_ssh_agent
!.bash_profile
!.binary_check
!.expected_binaries
!.gitalias
!.gitconfig
!.gitconfig_delta
!.inputrc
!.tmux.conf
!.wezterm.lua
!.zshrc
!.config/
!.config/borders/
!.config/borders/bordersrc
!.config/Code/User/settings.json
!.config/karabiner/
!.config/karabiner/karabiner.json
!.config/lazygit/
!.config/lazygit/config.yml
!.config/nvim/
!.config/nvim/**/*
!.config/opencode/
!.config/opencode/opencode.json
!.config/opencode/prompts/
!.config/opencode/prompts/*.txt
!.config/sketchybar
!.config/starship.toml
!.config/zsh/
!.config/zsh/modules/
!.config/zsh/modules/*.zsh
!.local/
!.local/bin/
!.local/bin/xdg-open
!.local/src/
!.local/src/**/*.go
!.ssh/
!.ssh/config
!.ssh/config.d/.gitkeep
