*
!.aerospace.toml
!.bashrc
!.bash_aliases
!.bash_ssh_agent
!.binary_check
!.expected_binaries
!.gitconfig
!.gitconfig_delta
!.inputrc
!.wezterm.lua
!.vimrc
!.config/starship.toml
!.config/Code/User/settings.json
