# use vi motions and bindings instead of emacs
set editing-mode vi
set show-mode-in-prompt on
set vi-ins-mode-string \1\e[6 q\2
set vi-cmd-mode-string \1\e[2 q\2
set keymap vi-insert
RETURN: "\e\n"

# partially complete the word and show all possible completions if it is still ambiguous
set show-all-if-ambiguous on

