# use vi motions and bindings instead of emacs
set editing-mode vi
set show-mode-in-prompt on
set vi-ins-mode-string \1\e[6 q\2
set vi-cmd-mode-string \1\e[2 q\2
set keymap vi-insert
RETURN: "\e\n"

# more modern and user-friendly autocompletions
set show-all-if-ambiguous on
set menu-complete-display-prefix on
set colored-completion-prefix on
# pure TAB: cycle through the available options
TAB: menu-complete
# SHIFT-TAB: show verbose descriptions where available
"\e[Z": menu-complete-backward

set match-hidden-files off
