# use vi motions and bindings instead of emacs
set editing-mode vi
set show-mode-in-prompt on
set vi-ins-mode-string \1\e[3 q\2
set vi-cmd-mode-string \1\e[1 q\2
set keymap vi-insert
RETURN: "\e\n"

# more modern and user-friendly autocompletions
set show-all-if-ambiguous on
set menu-complete-display-prefix on
set colored-completion-prefix on
set completion-prefix-display-length 3
set match-hidden-files off

TAB: menu-complete
"\e[Z": menu-complete-backward
